th {
    color: white;
}

td {
    color: whitesmoke;
}

body {
	background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
 	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container {
    margin-top: 2%;
}

.centre-items {
    margin-top: 2%;
}
